extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href="/users") Go to the users page
  p
  a(href="/views/database.html") Database example
  p
  a(href="/jade_example") Jade example
  p
  a(href="/views/spa.html") SPA Example